<!-- start hero -->
<div class="homepage_hero hero_cont">
     <h4> Our mission? To create a place that not only helps girls build their future, but teach them how to contribute back to their own communities and provide a space where they feel appreciated and safe.</h4>
     <!-- h4 class="col_white" -->
</div>
<!-- end hero -->

<!-- cusdXvam start-->
<h3 class="text-center" style="margin-top:5%">A design-build project by </h3>
<div class="row">
  <ul class="large-block-grid-3 small-block-grid-3 side_fix">
    <li>
       <div class="right" style="text-align:center">
        <%= image_tag "CUSDLogoTypeGray.svg", class: "cusd" %>
        <h3> Cornell University<br> Sustainable Design </h3>
      </div> 
    </li>
    <li>
       <h1 class="text-center" style="padding-top:5px; font-weight:00;"> X </h1>
    </li>
    <li>
       <div class="left" style="text-align:center">
        <%= image_tag "CUSDLogoTypeGray.svg", class: "cusd" %>
        <h3> Voices of African Mothers </h3>
      </div> 
    </li>
  </ul>
</div>
<!-- end cusdXvam -->

<!-- start landscape art photo -->
<!-- <div class="archi_hero"></div> -->
<!-- end landscape art photo thing -->

<!-- start stats piece -->
 <div class="row">
  <ul class="large-block-grid-3 medium-block-grid-3 small-block-grid-1" style="margin: 35px -20%;">
    <li>
      <div id="tagger_1" class="text-center sml_fix_right">
        <h1 class="big_txt"> 500 </h1>
        <h3 class="thin_txt"> Students </h3>
      </div>
    </li>
    <li class="text-center">
      <h1 class="big_txt"> 2 </h1>
      <h3 class="thin_txt"> Energy models </h3>
    </li>
    <li>
      <div id="tagger_2" class="text-center sml_fix_left">
         <h1 class="big_txt"> 200 </h1>
         <h3 class="thin_txt"> Acres </h3>
      </div>
    </li>
  </ul>
</div>
<!-- end stats piece -->

<!-- carousel start -->
<div class="row text-center caro_spacer">
  <ul class="large-block-grid-6 medium-block-grid-3 small-block-grid-2 even-6">
    <a class="fancybox pic spacer" rel="group"  title="corgi duh" href="img/hero.jpg"><img class="img_min" src="img/hero.jpg" alt="" /></a>
    <a class="fancybox pic spacer" rel="group"  title="CUSD logo" href="img/cusdLogo.jpg"><img class="img_min" src="img/cusdLogo.jpg" alt="" /></a>
    <a class="fancybox pic spacer" rel="group"  title="CUSD logo" href="img/caro_3.jpg"><img class="img_min" src="img/caro_3.jpg" alt="" /></a>
    <a class="fancybox pic spacer" rel="group"  title="CUSD logo" href="img/caro_4.jpg"><img class="img_min" src="img/caro_4.jpg" alt="" /></a>
    <a class="fancybox pic spacer" rel="group"  title="CUSD logo" href="img/caro_5.jpg"><img class="img_min" src="img/caro_5.jpg" alt="" /></a>
    <a class="fancybox pic spacer" rel="group"  title="CUSD logo" href="img/caro_6.png"><img class="img_min" src="img/caro_6.png" alt="" /></a>
    <a class="fancybox pic spacer" rel="group"  title="CUSD logo" href="img/caro_7.jpg"><img class="img_min" src="img/caro_7.jpg" alt="" /></a>
    <a class="fancybox pic spacer" rel="group"  title="CUSD logo" href="img/caro_8.jpg"><img class="img_min" src="img/caro_8.jpg" alt="" /></a>
    <a class="fancybox pic spacer" rel="group"  title="CUSD logo" href="img/caro_9.jpg"><img class="img_min" src="img/caro_9.jpg" alt="" /></a>
    <a class="fancybox pic spacer" rel="group"  title="CUSD logo" href="img/caro_10.png"><img class="img_min" src="img/caro_10.png" alt="" /></a>
  </ul>
</div>