
<!-- TODO: teams section here -->
<div class="row teamWidth">
	<div class="large-6 columns">
		<div class="row team_row">
			<div class="photo-strip photo-strip--seg" style="background-image: url(/images/seg/seg-team.jpg)">
  <div class="photo-strip__text bumper large-offset-2">
    <h1>The Team</h1>
  </div>
</div>
		</div>
		<div class="row large-offset-2"> 
			<h2 style="font-weight:500;"> Project directors </h2>
		</div>
		<div class="row large-offset-2">
			<div class="large-5 columns">
        <br>
        <div class="large-block-grid-1 small-block-grid-1">
          <li>
    				<%= image_tag "images/seg/members/Claudia.jpg", class: "" %>
          </li>
        </div>
			</div>
			<div class="large-7 columns">
        <br>
				<h3> Claudia Nelson</h3>
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui</p>
			</div>
		</div>
		<div class="row large-offset-2">
      <br>
			<div class="large-5 columns">
				<%= image_tag "images/seg/members/Arielle.jpg", class: "" %>
			</div>
			<div class="large-7 columns">
				<h3> Arielle Tannin</h3>
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui</p>
			</div>
		</div>
	</div>
	<div class="large-6 columns">
		<div class="row vid_background">
			<iframe class="large-block-grid-1 small-block-grid-1" src='https://player.vimeo.com/video/159445965' width=427 height=200 frameborder=0 webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <div class = "row large-offset-2">
        <h2 style="font-weight:500; color:white; margin-left:0px; margin-top:35px"> Voices of African Mothers </h2>
        <br>
          <p style="margin-left:-50px; margin-right:70px; color:white"> VAM is a 501(c)3 that empowers women and children through providing them with the education to advocate for a peaceful African continent. VAM currently leads several microfinance and empowerment initiatives and oversees the successful John Williams Montessori School in Kumasi, Ghana and has plans to create a Montessori high school nearby. The goal of VAM Girls’ Academy (part of the larger VAM Village initiative) is to provide girls in the Volta region of Ghana and beyond with a nurturing, inspiring educational environment. Ecological stewardship fit naturally into the project as the location of VAM Village is situated on a beautiful, environmentally rich part of Ghana. The unmet need of investing in girls rising to be champions in environmentalism and peace has continued to inspire the partnership of VAM and CUSD. 
          </p>
          <br>
          <br>
          <a style="color:orange; margin-left:80px;" href="http://www.vamothers.org/">Check out their website here</a>
          <br><br><br><br>
      </div>
      </div>
		</div>
	</div>
</div>

<!-- end teams -->