---
title: Connect
---

<div class="photo-strip photo-strip--page-header" style="background-image: url(/images/photostrips/ps6.jpg)">
  <div class="photo-strip__text">
    <h1>Get In Touch</h1>
  </div>
</div>

<div class="sidebar-box">
  <div class="sidebar-box__wrapper">

    <div class="sidebar-label">
      <h2>Points of Contact</h2>   
    </div>

    <div class="contacts">
      <article class="contact">
        <%= image_tag 'CUSDLogoTypeGray.svg', class: 'contact__photo' %>
        <div class="contact__info">
          <h3 class="contact__info__name">General Inquiries</h3>
          <span class="contact__info__links"><a href="mailto:cu.sustainabledesign@gmail.com" class="email">Email</a><a href="https://twitter.com/cusd" class="twitter">Twitter</a></span>
        </div>
      </article>
      <article class="contact">
        <img class="contact__photo" src="https://placeholdit.imgix.net/~text?txtsize=100&txtcolor=ffffff&bg=3F9B8F&txt=AT&w=200&h=200">
        <div class="contact__info">
          <h3 class="contact__info__name">Arielle Tannin</h3>
          <span class="contact__info__title">Executive Project Director</span>
          <span class="contact__info__team">Sustainable Education Ghana</span>
          <span class="contact__info__links"><a href="mailto:cu.sustainabledesign+seg@gmail.com" class="email">Email</a></span>
        </div>
      </article>
      <article class="contact">
        <img class="contact__photo" src="https://placeholdit.imgix.net/~text?txtsize=100&txtcolor=ffffff&bg=3F9B8F&txt=CN&w=200&h=200">
        <div class="contact__info">
          <h3 class="contact__info__name">Claudia Nielsen</h3>
          <span class="contact__info__title">Executive Project Director</span>
          <span class="contact__info__team">Sustainable Education Ghana</span>
          <span class="contact__info__links"><a href="mailto:cu.sustainabledesign+seg@gmail.com" class="email">Email</a></span>
        </div>
      </article>
      <article class="contact">
        <img class="contact__photo" src="https://placeholdit.imgix.net/~text?txtsize=100&txtcolor=ffffff&bg=3F9B8F&txt=ZC&w=200&h=200">
        <div class="contact__info">
          <h3 class="contact__info__name">Zac Cesaro</h3>
          <span class="contact__info__title">Executive Project Director</span>
          <span class="contact__info__team">Overlook Ridge Development</span>
          <span class="contact__info__links"><a href="mailto:cu.sustainabledesign+ord@gmail.com" class="email">Email</a></span>
        </div>
      </article>
      <article class="contact">
        <img class="contact__photo" src="https://placeholdit.imgix.net/~text?txtsize=100&txtcolor=ffffff&bg=3F9B8F&txt=JG&w=200&h=200">
        <div class="contact__info">
          <h3 class="contact__info__name">Joshua Glasser</h3>
          <span class="contact__info__title">Executive Project Director</span>
          <span class="contact__info__team">Cornell Tech</span>
          <span class="contact__info__links"><a href="mailto:cu.sustainabledesign+nyt@gmail.com" class="email">Email</a><a href="https://twitter.com/shua310" class="twitter">Twitter</a></span>
        </div>
      </article>
      <article class="contact">
        <img class="contact__photo" src="https://placeholdit.imgix.net/~text?txtsize=100&txtcolor=ffffff&bg=3F9B8F&txt=AM&w=200&h=200">
        <div class="contact__info">
          <h3 class="contact__info__name">Annie Myers</h3>
          <span class="contact__info__title">Executive Project Director</span>
          <span class="contact__info__team">CUSD Futures</span>
          <span class="contact__info__links"><a href="mailto:cu.sustainabledesign+futures@gmail.com" class="email">Email</a><a href="https://twitter.com/anniemyers23" class="twitter">Twitter</a></span>
        </div>
      </article>
      <article class="contact">
        <img class="contact__photo" src="https://placeholdit.imgix.net/~text?txtsize=100&txtcolor=ffffff&bg=3F9B8F&txt=AH&w=200&h=200">
        <div class="contact__info">
          <h3 class="contact__info__name">Ariel Hsu</h3>
          <span class="contact__info__title">Executive Director</span>
          <span class="contact__info__team">Internal Operations</span>
          <span class="contact__info__links"><a href="mailto:cu.sustainabledesign+ops@gmail.com" class="email">Email</a></span>
        </div>
      </article>
      <article class="contact">
        <img class="contact__photo" src="https://placeholdit.imgix.net/~text?txtsize=100&txtcolor=ffffff&bg=3F9B8F&txt=YY&w=200&h=200">
        <div class="contact__info">
          <h3 class="contact__info__name">Yodai Yasunaga</h3>
          <span class="contact__info__title">Executive Director</span>
          <span class="contact__info__team">Marketing and Communications</span>
          <span class="contact__info__links"><a href="mailto:cu.sustainabledesign+marcomm@gmail.com" class="email">Email</a></span>
        </div>
      </article>
      <article class="contact">
        <img class="contact__photo" src="https://placeholdit.imgix.net/~text?txtsize=100&txtcolor=ffffff&bg=3F9B8F&txt=MS&w=200&h=200">
        <div class="contact__info">
          <h3 class="contact__info__name">Matt Skroce</h3>
          <span class="contact__info__title">Strategy Director</span>
          <span class="contact__info__links"><a href="mailto:cu.sustainabledesign+strat@gmail.com" class="email">Email</a></span>
        </div>
      </article>
      <article class="contact">
        <img class="contact__photo" src="https://placeholdit.imgix.net/~text?txtsize=100&txtcolor=ffffff&bg=3F9B8F&txt=EM&w=200&h=200">
        <div class="contact__info">
          <h3 class="contact__info__name">Eric Morris</h3>
          <span class="contact__info__title">Creative Director</span>
          <span class="contact__info__links"><a href="mailto:cu.sustainabledesign+cd@gmail.com" class="email">Email</a><a href="https://twitter.com/thedeerchild" class="twitter">Twitter</a></span>
        </div>
      </article>
    </div>

  </div>
</div>

<div class="photo-strip" style="background-image: url(/images/photostrips/ps4.jpg)"></div>